@page "/log"
@using UltimateProyect.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider Authe

<h3>Historial Completo de Picking</h3>

@if (allLogs == null)
{
    <p>Cargando...</p>
}
else if (!allLogs.Any())
{
    <p>No hay registros de picking.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Petición</th>
                <th>Palet</th>
                <th>Referencia</th>
                <th>Cantidad Quitada</th>
                <th>Fecha</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in allLogs)
            {
                <tr>
                    <td>@log.Peticion</td>
                    <td>@log.Palet</td>
                    <td>@log.Referencia</td>
                    <td>@log.CantidadQuitada</td>
                    <td>@log.FechaVerificacion.ToString("g")</td>
                    <td>@log.NombreUsuario</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PickingLogs>? allLogs;

    protected override async Task OnInitializedAsync()
    {

        allLogs = await Http.GetFromJsonAsync<List<PickingLogs>>("api/icp/log");

    }
}
