@page "/moverpalets"
@using UltimateProyect.Shared.Models
@inject HttpClient Http

<h3>Lista de Palets Disponibles para Mover</h3>

<div class="mb-3">
    <input @bind="filtroPalets"
    class="form-control"
    placeholder="Buscar por referencia o descripción..."
    @oninput="OnFiltroChanged" />
</div>

@if (palets == null)
{
    <p>Cargando...</p>
}
else if (!palets.Any())
{
    <p>No hay palets disponibles.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Palet</th>
                <th>Referencia</th>
                <th>Artículo</th>
                <th>Cantidad</th>
                <th>Ubicación</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var palet in paletsFiltrados)
            {
                <tr>
                    <td>@palet.Palet</td>
                    <td>@palet.Referencia</td>
                    <td>@palet.DesReferencia</td>
                    <td>@palet.Cantidad</td>
                    <td>@palet.Ubicacion</td>
                    <td>
                        <a href="/moverpalet/@palet.Palet" class="btn btn-sm btn-info">Mover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<VistaPaletsReservados>? palets;
    private string filtroPalets = "";
    private List<VistaPaletsReservados>? paletsFiltrados;

    protected override async Task OnInitializedAsync()
    {
        palets = await Http.GetFromJsonAsync<List<VistaPaletsReservados>>("api/palets/disponibles");
        AplicarFiltro();
    }

    private void OnFiltroChanged(ChangeEventArgs e)
    {
        filtroPalets = e.Value?.ToString() ?? "";
        AplicarFiltro();

    }
    private void AplicarFiltro()
    {
        if (palets == null) return;

        if (string.IsNullOrWhiteSpace(filtroPalets))
        {
            paletsFiltrados = palets;
        }
        else
        {
            paletsFiltrados = palets
                .Where(r => r.Referencia.Contains(filtroPalets, StringComparison.OrdinalIgnoreCase) ||
                r.DesReferencia.Contains(filtroPalets, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }
}